# only the main readme must be included
/app/**/readme.md 

# Doku is private and contains the links to the readmes in the structure
_doku

# Temp notes

_*.md 

# VS Code project settings
.vscode/

logs/

# Swap files
*.swp

# macOS Finder metadata
.DS_Store

app/config/apps.json

node_modules/
